<!-- wp:template-part {"slug":"site-header","tagName":"header","area":"header", "className":"c-site--header","layout":{"type":"constrained"}} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Site"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:post-content {"lock":{"move":false,"remove":true},"tagName":"main","metadata":{"name":"Content"},"align":"full","layout":{"type":"constrained"}} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-footer","tagName":"footer","area":"footer", "className":"c-site-footer","layout":{"type":"constrained"}} /-->
